# =========================
# Jupyter / Python
# =========================
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo

# =========================
# Dane lokalne / robocze
# =========================
data/
*.csv

# =========================
# Logi
# =========================
*.log

# =========================
# Środowiska wirtualne
# =========================
.env
.venv
venv/
ENV/

# =========================
# System / IDE
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
